        /* Default */
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.M-0{
    margin: 0;
}
.p-small{
    font-size: small;
    color: lightslategray;
}
            /* menu-bar */
.icon {
    float: left;
    width: 82px;
}
.icon img {
    width: 100%;
}
.menu-bar{}
.menu-bar ul {}
.menu-bar ul li {
    list-style: none;
    padding: 20px;
    margin-left: 30px;
    background: lightblue;
    font-weight: 700;
    display: inline-block;
    float: right;
}
.menu-bar ul li a {
    text-decoration: none;
}

            /* Top-section */
section{
    padding-top: 50px;
    padding-bottom: 100px;
}
.container{
    width: 1100px;
    margin: auto;
}
.flexible-container{
display: flex;
}
.title-set{
    padding-top: 135px;
}
.half-width{
    width: 40%;
    padding-left: 5%;
    margin-left: 2%;
}
.Orenge-color{
    color: orange;
}
.large-font{
    font-size: 40px;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    padding: 10px 30px;
    color: white;
    background-image: linear-gradient(blue, cyan);
    border-radius: 10%;
}
            /* About me */
.background {
  background-image: url(img/Frame\ 57.jpg);
  background-position: top;
  background-size: cover;
  height: 300px;
}
.mt-90{
    margin-top: 90px;
}
            /* My-Recipies */
.center{
    text-align: center;
}
.thrice-width{
    width: 28%;
    margin-left: 3%;
    padding: 2%;

}
.thrice-width img{
    width: 100%;
    
}
h3{
    font-size: 30px;
}
.box-shadow{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}
.thrice-item{
    width: 33%;
}
.center{
    text-align: center;
}
            /* Footer */
.footer-bg{
    background-color: black;
    padding: 40px 0;
    text-align: center;
}
.footer-bg h1 {
color: white;
}
.footer-bg p {
    color: white;
    font-size: small;
}